/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/images/uploads/notes/*
public/images/uploads/blogImages/*
public/photos/1/Частые файлы/photo1.jpg
public/photos/1/Частые файлы/thumbs/photo1.jpg
