label{
    font-size: 14px;
    font-weight: 600;
}

.btn-primary{
    width: 200px;
    margin-left: 0;
}
.back{
    font-size: 14px!important;
}

.btn{
    font-size: 14px;
}

.create_news_btn{
    margin-top: 50px;
    margin-bottom: 40px;
}