.btn-success{
    width: 200px;
    margin-left: calc(50% - 100px);
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-success:focus, .btn-success:hover, .btn-success:active, .btn-success:not(:disabled):not(.disabled):active{
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    box-shadow: 0 0 0 .2rem rgb(53, 53, 53);
}

.button-view-news-admin{
    margin: 0;
    width: 100%;
    margin-bottom: 2px;
}

.button-edit-news-admin{
    width: 50% !important;
    margin-bottom: 10px;
}

.btn{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.49);
}

.table-blog{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.49);
}

.head-table-blog{
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.49);
}

.btn-primary{
    margin-left: 0;
}

.btn-primary{
    margin-left: 10px;
}

.btn{
    padding: 10px 45px;
    display: inline-block;
    float: left;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    cursor: pointer;
    border-radius: 4px;
    border-color: rgba(0,0,0,0.175);
    color: #000;
}

.btn:hover{
    background-color: rgb(51, 51, 51);
    transition: 0.2s;
}

.button-edit-news-admin{
    margin-left: 0;
}

.delete{
    width: 50%;
    font-size: 14px;
}
