header .head-div > ul{
	margin: 0 auto;
	text-align: center;
	padding: 0;
	display: inline-block;
    margin-left: 350px;
}

header .head-div > ul > li:nth-child(1){
	margin-left: 0;
}

header .head-div > ul > li{
	margin-top: 35px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 30px;
    color: #ff8327;
    font-size: 17px;
    display: inline-block;
}

header{
	width: 100%;
	min-height: 672px;
	background-size: cover;
	background-position: center;
	display: inline-block !important;
}

.head-div{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #222a33;
	opacity: .75;
}

.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.right-view-site{
	background-color: rgba(36,51,67,.8);
	padding: 35px 30px 30px;
	color: #97a4b2;
    width: 350px;
    height: 380px;
    margin-top: 230px;
    position: relative;
    font-size: 16px;
    border: 1px solid rgba(36,51,67,.8);
    border-radius: 10px;
    float: right;
    margin-right: 90px;
    display: inline-block;
}

.container{
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

footer{
	text-align: center;
}

footer img{
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
}

footer > a{
	width: 40px;
	height: 40px;
}

h2{
	display: inline-block;
    margin-left: 80px;
	color: #fff !important;
	font-style: italic;
}

h3{
	color: #fff !important;
    margin-bottom: 25px !important;
    font-size: 30px !important;
}

.link{
   text-decoration:none !important;
   position:relative;
   color: #fff !important;
}

.link:before{
   position:absolute;
   bottom: -3px;
   content: " ";
   border-bottom: 1px solid #ccc;
   left:0%;
   width:0%;
   transition: all 0.3s;
}

.link:hover:before{
   width:100%;
   left:0%;
}

.link:hover{
	color: #ff8327 !important;
	width:100%;
   	left:0%;
}

.left-view-site{
	margin-top: 230px;
	margin-left: 90px;
	float: left;
	display: inline-block;
	position: relative;
    color: aliceblue;
    width: 600px;
}

.left-view-site > h1{
	border-bottom: #ff8327 5px solid;
	font-size: 40px;
    padding-bottom: 5px;
}