.mnu{
	margin: 0 auto;
	text-align: center;
	padding: 0;
	float: right;
	display: block;
	height: 100%;	
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.mnu  li {
	position: relative;
	float: left;
	height: 100%;
}

.mnu  li  ul {
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	position: absolute;
	display: none;
    top: 37px;
    padding: 0px;
    text-align: left;
    border-top: #e8e8e8 solid 1px;
    width: 140px;
    margin-top: 51px;
    background-color: #fff;
    z-index: 2;
	border-radius: 4px;
}

.mnu  li  ul  li {
	display: block;
	line-height: 1.5;
	width: inherit;
    margin-left: 0;
}

.mnu li  ul  li  a {
	display: block;
	color: #757575;
	padding: 5px 0px 5px 10px;
	text-decoration: none;
	width: inherit;
}

.mnu  li:hover  ul{
	display: block;
	border-radius: 4px;
}

.mnu  li  ul  li:hover {
	background-color: #000;
	color: #fff;
	transition: 0.5s;
	background-color: rgb(51, 51, 51);
	border-radius: 4px;
}

.mnu  li  ul  li  a:hover {
	color: #fff !important;
}
.logo{
	float: left;
	height: 100%;
}

.logo  h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	line-height: 5.5;
}

.logo  h1  a{
	text-decoration: none;	
	color: #000 !important;
	height: 100%;
}

header .row{
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: 100%;
}

header .container{
	max-width: 900px !important;
	height: 100%;
}

.navbar-brand{
	line-height: 3.2;
}

.mnu  li  a{
	text-decoration: none;	
	color: #000 !important;
    display: block;
}

.mnu  li{
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	margin-left: 20px;
	font-size: 16px;
	line-height: 5.5;
}

.navbar-expand-md{
	padding: 0;
	margin: 0;
}

.py-4{
	padding-top: 0px !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu-right{
	border-radius: 4px;
}

.dropdown-toggle::after{
	content: none;
}

#navbarDropdown{
	display: inline-block;
	float: right;
	margin-left: 50px;
	line-height: 5.5;
	padding: 0;
	height: 100%;
	font-size: 16px;
}

.navbar{
	border: 0px;
	max-height: 88px;
}

.navbar-nav{
	float: right;
}

.dropdown-menu, .dropdown-menu-right, .show{
	padding: 0;
}

.dropdown-item{
	padding: 7px 1.5rem;
}

.dropdown-item:hover{
	background-color: #000;
	color: #fff;
	transition: 0.5s;
	background-color: rgb(51, 51, 51);
	border-radius: 4px;
}

.dropdown-menu{
	min-width: 148px;
}

header{
	background-color: #fff;
	height: 90px;
}

.gate-site{
	position: relative;
	margin: 50%;
}
.basket{
	position: fixed;
	bottom: 100px;
	right: 20px;
	width: 52px;
	height: 52px;
	z-index: 999;
}

.img-basket{
	width: 52px;
	height: 52px;
}

.badge{
	position: fixed;
	padding: 10px 12px;
	border-radius: 26px;
	margin-right: 45px;
	text-decoration: none;
	right: 17px;
	bottom: 110px;
}

.badge:hover, basket:hover{
	text-decoration: none;
}

footer .row{
	display: inline;
}

footer{
	border-top: 4px double #ECECEC;
	text-align: center;
	width: 100%;
	display: flex;
	flex: 0 0 auto;
}

footer img{
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
}

footer  a{
	width: 40px;
	height: 40px;
}

a:focus{
	outline: none;
}

.section{
	float: right;
	margin-top: 18px;
	outline: none;
}

.menu-btn{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #565656;
	border-radius: 50%;
	position: relative;
	outline: none;
}
.span, .span::before, .span::after{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 2px;
	background-color: #565656;
	margin-top: -1px;
	margin-left: -10px;
}

.span::before, .span::after{
	content: '';
	display: block;
	transition: 0.2s;
}

.span::before{
	transform: translateY(-5px);
}

.span::after{
	transform: translateY(5px);
}

.menu-btn_active span:before{
	transform: rotate(-35deg);
	width: 10px;
	transform-origin: left bottom;
}

.menu-btn_active span:after{
	transform: rotate(35deg);
	width: 10px;
	transform-origin: left top;
}

@media only screen and (min-width : 992px){
	.section{
		display: none;
	}
}

@media (max-width: 991px){
	.mnu{
		float: right;
		flex-direction: column;
		transition: 1s;
		display: none;
	}
	.menu_active{
		display: flex;
	}
	.mnu li{
		clear: left;
	    display: block;
	    width: 274px;
	    z-index: 2;
	    background-color: #fff;
	    margin-right: -146px;
	    margin-top: 0px;
	    border-left: 1px solid #000;
	}
	.mnu li:last-child{
		border-bottom: 1px solid #000;
	}

	.mnu li ul{
		left: -140px;
		top: -55px;
		height: 47px;
		border-top: 1px solid #000;
	}
	.mnu li ul li{
		border-right: 1px solid #000;
	}
}


.mnu  li  ul  li:hover {
	background-color: #000;
	color: #fff;
	transition: 0.5s;
	background-color: rgb(51, 51, 51);
}